<mat-toolbar color="primary">
  <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>
  <a [routerLink]="'/login'" mat-icon-button lass="example-icon favorite-icon" aria-label="Example icon-button with heart">
    Iniciar Sesión
  </a>

  <a [routerLink]="'/signup'" class="mr20 ml70" mat-icon-button lass="example-icon favorite-icon" aria-label="Example icon-button with star">
    Registrar
  </a>
</mat-toolbar>
